---
layout: layouts/base.njk
url: /404/index.html
title: "Page not found"
---
<div class="centered-index">
    <div class="error-block">
        <h1>Page Not Found</h1>
        <h2>Oops! Not sure how you got here but you can always go back.</h2>
        <a href="" onclick="history.back()">Go back</a>
    </div>
</div>