---
layout: layouts/base.njk
title: "Page not found"
---
<div class="centered-index">
    <div class="error-block">
        <h1>Page Not Found</h1>
        <p>Oops! The page you are looking for could not be found.</p>
        <a href="/">Go back to homepage</a>
    </div>
</div>