<div class="centered-index">
    <h1>{{ heading }} <a class="rss-icon" href="/{{ pageroute }}/feed.rss">&nbsp</a></h2>
    <ul>
        {% for post in postslist %}
            <li><a href="{{ post.url }}">{{ post.date | date('DATE') }} - {{ post.title }}</a>
            <!-- should show a blurb from the post as preview -->
            <p>{{ post.description }}</p>
        {% endfor %}
    </ul>
</div>