@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css";
@import "/assets/code.css";

body {
  /*background-color: #3c5c5c;
  color: white;*/
  font-family: "Helvetica Neue", helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  color: rgb(93, 187, 224);
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-position: inside;
  padding-left: 1em;
  margin-top: -10px;
}

li {
  list-style: circle;
}

li a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

.header {
  font-size: 30px;
  height: 60px;
  margin-top: 20px;
  text-align: center;
}

.header a {
  text-decoration: none;
  color: rgb(93, 187, 224);
}

.left, .right {
  float:left;
  width: 20%;
  border: 1px solid transparent;
}

.post-box {
  float:left;
  width: 60%;
  border: 1px solid transparent;
}

.about-section {
  float: left;
  margin-top: 20px;
  width: 100%;
}

.about-text {
  float: left;
  width: 70%;
}

.about-links {
  float: left;
  width: 30%;
  margin-top: 50px;
}

.post-section {
  float: left;
  width: 100%;
}

.column {
  float: left;
  width: 33% auto;
  min-width: 30%;
  max-width: 50%;
  margin: 10px;
}

.centered-index {
  margin: 0 auto;
  width: 60%;
}

.error-block {
  margin-top: 30%;
  margin-bottom: 30%;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.rss-icon {
  content:url("../assets/rss.png");
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .post-box, .right, .column, .about-text, .about-links, .centered-index {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    min-width: 100%;
    margin-top: 0px;
  }
}