<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="/assets/main.css">
        {% if page_css %}
            <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
        {% endif %}

        <!-- to replace Good Reads TBD -->
        <noscript>
            <style>
                #jsreads {display:none;}
            </style>
        </noscript>

        <script>
            async function query() {
                const resp = await fetch("./linkshare?count=20");
                const data = await resp.json();
                var table = document.getElementById("linkshare");
                var rows = '';
                data.forEach(element => {
                    rows += '<li><a href="' + element.link + '">' + element.title + '</a></li>';

                });
                table.innerHTML = rows;
            }
            // query();
        </script>
    </head>
    <body>
        <div>
            <div class="container-center">
                <div class="header">
                    <a href="/"><h2>keyboardcrunch</h2></a>
                </div>
                {{ content | safe }}
                <div class="footer">Made by keyboardcrunch | <a href="https://github.com/keyboardcrunch/static-site/">source code </></a></div>
            </div>
        </div>
    </body>
</html>